<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <h3>Sistema de pedidos</h3>
    <img src="assets/imgs/tela-inicial.png" alt="logo">
    
    <form>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="creds.email" name="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input [(ngModel)]="creds.senha" name="senha" type="password"></ion-input>
      </ion-item>
      <ion-button block (click)=login()>Entrar</ion-button>      
    </form>
    <ion-button block outline>Registrar</ion-button>
  </div>
</ion-content>
